.container {
    width: 1110px;
    margin: 0 auto;
}
.our-customers {
    text-align: center;
    &__title {
        display: block;
        font-family: Raleway;
        font-size: 36px;
        text-transform: uppercase;
        color: #212121;
        &::after {
            content: '';
            display: block;
            padding-top: 20px;
            width: 64px;
            margin: 0 auto;
            border-bottom: 2px solid #ffbf92;
        }
    }
    &__descriprion {
        font-family: 'Open sans';
        font-size: 14px;
        color: #86878b;
    }
    &__block {
        width: 290px;
        float: left;
        margin-right: 120px;
        &:last-child {
            margin-right: 0px;
        }
    }
}
.block-wrapper {
    padding-top: 50px;
}
.block {
    &__content {
        padding: 10px 20px;
        margin-bottom: 30px;
        text-align: left;
        font-family: 'Open sans';
        font-size: 14px;
        color: #86878b;
        font-style: italic;
    }
    &__photoCustomer {
        float: left;
        width: 70px;
        height: 70px;
        border-radius: 35px;
    }
    &__nameCustomer {
        padding: 13px 0 0 20px;
        float: left;
        text-align: left;
        line-height: 20px;
        font-family: 'Open sans';
        font-size: 20px;
        color: #86878b;
    }
    &__professionCustomer {
        font-family: 'Open sans';
        font-size: 14px;
        color: #333;
    }
}
