.container-wrapper-background {
	background-color: #9b9b9b;
    min-height: 320px;
	padding: 0;
}
.container-custom_9 {
	width: 1123px;
    padding: 0;
    margin: 0 auto;
}
.section-stylish-header {
	padding-top: 60px;
}
.section-stylish-header h3 {
	font-family: Raleway;
	text-transform: uppercase;
	color: white;
	font-size: 36px;
	font-weight: 400;
	text-align: center;
	margin: 0;	
}
.section-stylish-header h3::after {
	content: "";
	display: block;
	background-image: url(../img/divider.png);
	width: 74px;
	height: 16px;
	text-align: center;
	margin: 16px auto;
	padding: 0;
}
.section-stylish-slogan {
	text-align: center;
}
.section-stylish-slogan span {
	font-family: Raleway;
	color: white;
	font-size: 16px;
	font-weight: 300;
	letter-spacing: 0.2px;
	text-align: center;
	margin: 0;
}
.section-stylish-button {
	text-align: center;
	margin-top: 27px;
}
.section-stylish-button .section-stylish-press {
	background-color: transparent; 
	color: white;
	border: 2px solid white;
	width: 135px;
	height: 42px;
}
.section-stylish-button .section-stylish-press:hover {
  background-color: grey;
} 
.section-stylish-button .section-stylish-press a {
	font-family: 'Open Sans', sans-serif;
	font-weight: 600;
	color: white;
	font-size: 15px;
	text-decoration: none;
}
.section-stylish-link {
	margin-top: 20px;
	text-align: center;
}
.section-stylish-link a {
	font-family: 'Open Sans', sans-serif;
	font-weight: 300;
	color: darkgrey;
	font-size: 16px;
	text-decoration: none;
}